.container {
  min-height: 100vh;
  background-color: rgb(4, 4, 52);
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-box {
  border: 1px solid white;
  width: 30%;
  height: fit-content;
  color: white;
  border-radius: 1rem;
  padding: 1rem;
}

input {
  padding: .5rem;
  flex-grow: 1;
}

.Todo-list-container {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 1rem;

}